@model Medox.Models.KorZstMain

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KorZstMain</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZstMainNazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZstMainNazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZstMainOpis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZstMainOpis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZstMainCzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZstMainCzyAktywny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbDataWpisu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbDataWpisu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DbPerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DbPerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ZstMainId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
