@model IEnumerable<Medox.Models.KorSkd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SkdNazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkdOpis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkdCzyAktywny)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbDataWpisu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SkdNazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkdOpis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkdCzyAktywny)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DbDataWpisu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DbPerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SkdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SkdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SkdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
